---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main class="flex flex-col items-center justify-center w-full h-full gap-16">
        <p>Join board</p>
        <p>or</p>
        <p>Create board</p>
        <ul class="flex flex-col gap-32">
            <!-- {leaderboards.map((board) =>
                <li class="border border-neutral-stroke-rest rounded-lg p-16">
                    <p>{board.name}</p>
                    <p>50 members</p>
                </li>
            )} -->

        </ul>
    </main>
</Layout>
